name: Publish

on:
  push:
    branches:
      - '**/stable'
      - '**/backport'
      - '**/snapshot'
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Publish
        run: ./gradlew build publish
        env:
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
